@import url('https://fonts.googleapis.com/css2?family=Coustard:wght@400;900&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Mystery+Quest&display=swap');

body {
font-family: "Mystery Quest", system-ui !important;
background-image: url(../public/images/wallr.jpeg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
